*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: #262e38;
  --light-grey: #969fad;
  --medium-grey: #7c8798;
  --orange: #fc7614;
  --pure-white: #ffffff;
  --very-dark-blue: #131518;
}

@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.h-lg {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0px;
}
.rating {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.h-md {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
}
.bold {
  font-weight: 700;
}
.body {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
}
.dark-blue {
  color: var(--dark-blue);
}
.light-grey {
  color: var(--light-grey);
}
.medium-grey {
  color: var(--medium-grey);
}
.orange {
  color: var(--orange);
}
.pure-white {
  color: var(--pure-white);
}
.very-dark-blue {
  color: var(--very-dark-blue);
}
.black-gradient {
  background: rgb(35, 42, 52);
  background: radial-gradient(
    circle,
    rgba(35, 42, 52, 1) 0%,
    rgba(24, 30, 39, 1) 100%
  );
}
.circle {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating-row {
  display: flex;
  gap: 22px;
  align-items: center;
}
.text-center {
  text-align: center;
}
.button {
  border-radius: 22.5px;
  background-color: var(--orange);
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  background-color: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  border-radius: 30px;
}
main #pre-rate {
  width: 412px;
  height: 416px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

main #post-rate {
  width: 412px;
  height: 416px;
  padding: 45px 32px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.rating-btn {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  position: absolute;
  z-index: 999;
}

.hover p,
p.hover {
  color: var(--pure-white);
}
.rating-row div.hover {
  cursor: pointer;
  background-color: var(--orange);
  & p {
    color: var(--pure-white);
  }
}
#submit-btn.hover {
  cursor: pointer;
  /* color: var(--orange); */
  background-color: var(--pure-white);
}

#submit-btn.hover p,
#submit-btn.hover p.hover {
  color: var(--orange);
}

.active {
  background-color: var(--medium-grey);
  & p {
    color: var(--pure-white);
    background-color: transparent;
  }
}
#results-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22.5px;
  background-color: var(--dark-blue);
  height: 32px;
  width: 193px;
}

@media screen and (max-width: 376px) {
  main #pre-rate,
  main #post-rate {
    width: 80%;
  }
}
